*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/vcs.xml
.idea/misc.xml
/app/src/main/java/russiabookmaker/perso/com/russiabookmaker/rest/RetrofitBuilder.java